@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

.site-wrapper {
	width: 94vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 3vw 0 3vw;
	font-family: "Open Sans", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: #e6e6e6;
}

.secondary-text {
	font-weight: 600;
	font-size: larger;
}

.digit {
	color: #f92727;
	font-size: 10vw;
	margin: 25px 0 0 0;
	font-weight: 900;
}

.time {
	position: absolute;
	bottom: 25px;
}

.disclaimer {
	position: absolute;
	bottom: 75px;
}

.share-wrapper {
	margin-top: 25px;
	display: flex;
}

.share-btn {
	background-color: #d6d6d6;
	height: 11px;
	padding: 5px;
	line-height: 11px;
	border-radius: 5px;
	user-select: none;
	font-size: 11px;
	font-weight: 600;
	min-width: 18px;
	margin-left: 10px;
}

.share-btn:hover {
	background-color: #b8b8b8;
	cursor: pointer;
}
